body {
    font-family: 'Roboto Condensed', ;
    font-size: 16px;
    line-height: 1;
  }
  
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
  }
   
  #time {
    background-color:black;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(213, 165, 6);
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }

  .time {
    padding-top:20px;
  }


  #text1 {
    background-color: gray;
  }